{# templates/login.html #}
{% if erro == 1 %}
    Usuário ou senha inválidos! 😯
{% elseif erro == 2 %}
    Você está tentando acessar uma página restrita, safadinho! 😒
{% endif %}

<form action="login_verifica.php" method="post">
    <div>
        <input type="text" name="user" placeholder="Usuário">
    </div>
    <div>
        <input type="password" name="pass" placeholder="Senha">
    </div>
    <div>
        <input type="submit" value="Acessar">
    </div>
</form>
<div>
    <a href="recuperar_senha.php">esqueci minha senha</a>
</div>